<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive free template 404 for you website">
    <!-- <link rel="icon" href="favicon.ico"> -->
    <title>Page 500</title>
    <!-- Bootstrap CDN CSS -->
    <link href="assets/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="errors.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <!-- Preloader -->
    <section id="wrapper" class="container-fluid">
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="text-danger">500</h1>
                <h3 class="text-danger-server">Ошибка сервера !</h3>
                <p class="text-muted m-t-30 m-b-30">На сервере произошла непредвиденная ошибка. Пожалуйста подождите, она вскоре будет исправлена. </p>
                <a href="/" class="btn btn-danger btn-rounded m-b-40">На главную</a> </div>
            <footer class="footer text-center">2020 <a href="#" target="_blank">ToDoList</a></footer>
        </div>
    </section>
</body>
</html>